/* MISC */
/* COLORES */
/* SPACING */
/* FONT FAMILY */
/* FONT SIZE */
* {
  padding: 0px;
  border: 0px;
  font-family: 'Montserrat', sans-serif, medium; }

body {
  background-color: #eeeeee; }

input {
  background-color: #02b902;
  color: aliceblue;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 7px gray; }

/* PARTIALS */
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #02b902;
  width: auto;
  background: #02b902;
  padding: 20px;
  box-shadow: 2px 2px 7px;
  animation: fadein 2s; }
  .menu__logo:hover {
    -ms-transform: scale(1);
    transform: scale(1.2); }
  .menu__enlaces {
    display: flex;
    gap: 20px; }
    .menu__enlaces li {
      list-style: none; }
    .menu__enlaces a {
      font-family: "Montserrat", sans-serif, medium;
      color: white;
      text-decoration: none;
      transition: 0.5s; }
    .menu__enlaces a:hover {
      color: #015001; }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 320px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #02b902;
    background: #02b902;
    padding: 20px;
    box-shadow: 2px 2px 7px;
    animation: fadein 2s; }
    .menu__logo {
      padding-bottom: 40px; }
    .menu__enlaces {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 20px;
      align-items: center; }
      .menu__enlaces li {
        list-style: none; }
      .menu__enlaces a {
        font-family: "Montserrat", sans-serif, medium;
        font-size: 20px;
        flex-wrap: wrap;
        color: white;
        text-decoration: none;
        transition: 0.5s; }
      .menu__enlaces a:hover {
        color: #015001; } }

@media screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #02b902;
    background: #02b902;
    padding: 20px;
    box-shadow: 2px 2px 7px;
    animation: fadein 2s; }
    .menu__logo {
      padding-bottom: 40px; }
    .menu__enlaces {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 20px;
      align-items: center; }
      .menu__enlaces li {
        list-style: none;
        align-items: center; }
      .menu__enlaces a {
        font-family: "Montserrat", sans-serif, medium;
        font-size: 20px;
        flex-wrap: wrap;
        color: white;
        text-decoration: none;
        transition: 0.5s; }
      .menu__enlaces a:hover {
        color: #015001; } }

.consolas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation: fadein 1s; }
  .consolas__titulo {
    display: flex;
    justify-content: center;
    padding: 80px;
    font-family: "Montserrat", sans-serif, bold;
    font-weight: 800;
    color: #02b902; }
  .consolas__contenedor {
    display: flex;
    justify-content: center;
    gap: 80px; }
    .consolas__contenedor .consola__producto {
      display: flex;
      flex-direction: column;
      background-color: #f8f8f8;
      border-radius: 20px;
      padding: 40px;
      box-shadow: 2px 2px 2px #b8b8b8;
      align-items: center; }
      .consolas__contenedor .consola__producto h3 {
        padding: 20px; }
      .consolas__contenedor .consola__producto p {
        font-size: 30px;
        font-family: "Montserrat", sans-serif, medium; }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 320px) {
  .consolas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    animation: fadein 1s; }
    .consolas__titulo {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 550px;
      padding: 40px;
      font-size: 30px; }
    .consolas .consolas__contenedor {
      display: flex;
      flex-direction: column;
      justify-items: center;
      gap: 20px;
      width: min-content; }
      .consolas .consolas__contenedor__producto {
        justify-items: center;
        padding: 30px;
        background-color: #eaeaea;
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 20px; }
        .consolas .consolas__contenedor__producto h3 {
          font-size: 40px; }
        .consolas .consolas__contenedor__producto p {
          font-size: 40px; } }

@media screen and (max-width: 480px) {
  .consolas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 1s; }
    .consolas__titulo {
      display: flex;
      justify-content: center;
      width: 550px;
      padding: 40px;
      font-size: 30px; }
    .consolas .consolas__contenedor {
      display: flex;
      flex-direction: column;
      justify-items: center;
      gap: 20px;
      width: min-content; }
      .consolas .consolas__contenedor__producto {
        justify-items: center;
        padding: 30px;
        background-color: #eaeaea;
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 20px; }
        .consolas .consolas__contenedor__producto h3 {
          font-size: 40px; }
        .consolas .consolas__contenedor__producto p {
          font-size: 40px; } }

.novedades {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation: fadein 1s; }
  .novedades__titulo {
    display: flex;
    justify-content: center;
    padding: 80px;
    font-family: "Montserrat", sans-serif, bold;
    font-weight: 800;
    color: #02b902; }
  .novedades__contenedor {
    display: flex;
    justify-content: center;
    gap: 80px; }
    .novedades__contenedor .novedades__producto {
      display: flex;
      flex-direction: column;
      background-color: #f8f8f8;
      border-radius: 20px;
      padding: 40px;
      box-shadow: 2px 2px 2px #b8b8b8;
      align-items: center; }
      .novedades__contenedor .novedades__producto h3 {
        padding: 20px; }
      .novedades__contenedor .novedades__producto p {
        font-size: 30px;
        font-family: "Montserrat", sans-serif, medium; }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 320px) {
  .cnovedades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    animation: fadein 1s; }
    .cnovedades__titulo {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 550px;
      padding: 40px;
      font-size: 30px; }
    .cnovedades .novedades__contenedor {
      display: flex;
      flex-direction: column;
      justify-items: center;
      gap: 20px;
      width: min-content; }
      .cnovedades .novedades__contenedor__producto {
        justify-items: center;
        padding: 30px;
        background-color: #eaeaea;
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 20px; }
        .cnovedades .novedades__contenedor__producto h3 {
          font-size: 40px; }
        .cnovedades .novedades__contenedor__producto p {
          font-size: 40px; } }

@media screen and (max-width: 480px) {
  .novedades {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 1s; }
    .novedades__titulo {
      display: flex;
      justify-content: center;
      width: 550px;
      padding: 40px;
      font-size: 30px; }
    .novedades .novedades__contenedor {
      display: flex;
      flex-direction: column;
      justify-items: center;
      gap: 20px;
      width: min-content; }
      .novedades .novedades__contenedor__producto {
        justify-items: center;
        padding: 30px;
        background-color: #eaeaea;
        border-radius: 20px;
        box-shadow: 2px 2px 7px gray;
        text-align: center;
        font-size: 20px; }
        .novedades .novedades__contenedor__producto h3 {
          font-size: 40px; }
        .novedades .novedades__contenedor__producto p {
          font-size: 40px; } }
