/* COLORES */
$color-principal: rgb(2, 185, 2);
$color-secundario: rgb(230, 230, 230);
$color-textos: rgb(42, 42, 42);
$color-titulo: rgb(2, 185, 2);

/* SPACING */
$spacing-l: 80px;
$spacing-m: 60px;
$spacing-s: 40px;
$spacing-xs: 20px;
$spacing-xxs: 10px;

/* FONT FAMILY */
$font-titulo: 'Montserrat', sans-serif, bold;
$font-text: 'Montserrat', sans-serif, medium;
$font-subtitulo: 'Montserrat', sans-serif;

/* FONT SIZE */
$font-l: 40px;
$font-m: 30px;
$font-s: 20px;


