 /* FIGURAS */

 .figuras {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $spacing-s;
    
    &__titulo {
        display: flex;
        justify-content: center;
        padding: $spacing-s;
        font-family: $font-titulo;
        font-weight: 800;
        color: $color-titulo;
        width: 100%;
    }

    &__contenedor {
        display: flex;
        flex-wrap: wrap;
        border-radius: 1rem;
        justify-content: space-around;
        padding: $spacing-xxs;
    
        .figuras__producto {
            background-color: $color-secundario;
            padding: $spacing-xs;
            border-radius: 1rem;
            box-shadow: 2px 2px 2px rgb(179, 179, 179);
            align-content: center;
        
           h3 {
            font-family: $font-titulo;
            font-size: $font-s;
            color: $color-titulo;
            padding: $spacing-xs 0 $spacing-xxs;
            font-weight: 800;
            text-align: center;
           }

           p {
            font-family: $font-text;
            font-size: $font-m;
            text-align: center
           }
        }
    }
}     

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

@media screen and (max-width: 320px) {

    .figuras {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: min-content;
        animation: fadein 1s;

        &__titulo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 550px;
            padding: $spacing-s;
            font-size: 30px;
        }
    
        .figuras__contenedor {
            display: flex;
            flex-direction: column;
            justify-items: center;
            gap: 20px;
            width: min-content;
    
            &__producto {
                justify-items: center;
                padding: 30px;
                background-color: rgb(234, 234, 234);
                border-radius: 20px;
                box-shadow: 2px 2px 7px gray;
                text-align: center;
                font-size: $spacing-xs;
    
                h3 {
                    font-size: 40px;
                }
             
                p {
                    font-size: 40px;
                }
            }  
       }  
    }
   
}

@media screen and (max-width: 480px) {

    .figuras {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fadein 1s;

        &__titulo {
            display: flex;
            justify-content: center;
            width: 550px;
            padding: $spacing-s;
            font-size: 30px;
        }
    
        .figuras__contenedor {
            display: flex;
            flex-direction: column;
            justify-items: center;
            gap: 20px;
            width: min-content;
    
            &__producto {
                justify-items: center;
                padding: 30px;
                background-color: rgb(234, 234, 234);
                border-radius: 20px;
                box-shadow: 2px 2px 7px gray;
                text-align: center;
                font-size: $spacing-xs;
    
                h3 {
                    font-size: 40px;
                }
             
                p {
                    font-size: 40px;
                }
            }  
       }  
    }
}

 /* NOVEDADES */

 .novedades {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $spacing-s;
    
    &__titulo {
        display: flex;
        justify-content: center;
        padding: $spacing-s;
        font-family: $font-titulo;
        font-weight: 800;
        color: $color-titulo;
        width: 100%;
    }

    &__contenedor {
        display: flex;
        flex-wrap: wrap;
        border-radius: 1rem;
        justify-content: space-around;
        padding: $spacing-xxs;
    
        .novedades__producto {
            background-color: $color-secundario;
            padding: $spacing-xs;
            border-radius: 1rem;
            box-shadow: 2px 2px 2px rgb(179, 179, 179);
            align-content: center;
        
           h3 {
            font-family: $font-titulo;
            font-size: $font-s;
            color: $color-titulo;
            padding: $spacing-xs 0 $spacing-xxs;
            font-weight: 800;
            text-align: center;
           }

           p {
            font-family: $font-text;
            font-size: $font-m;
            text-align: center
           }
        }
    }
}  

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

@media screen and (max-width: 320px) {

    .novedades {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: $spacing-s;
        
        &__titulo {
            display: flex;
            justify-content: center;
            padding: $spacing-s;
            font-family: $font-titulo;
            font-weight: 800;
            color: $color-titulo;
            width: 100%;
        }
    
        &__contenedor {
            display: flex;
            flex-wrap: wrap;
            border-radius: 1rem;
            justify-content: space-around;
            padding: $spacing-xxs;

        
            .novedades__producto {
                background-color: $color-secundario;
                padding: $spacing-xs;
                border-radius: 1rem;
                box-shadow: 2px 2px 2px rgb(179, 179, 179);
                align-content: center;
                margin: $spacing-xs;
                
            
               h3 {
                font-family: $font-titulo;
                font-size: $font-s;
                color: $color-titulo;
                padding: $spacing-xs 0 $spacing-xxs;
                font-weight: 800;
                text-align: center;
               }
    
               p {
                font-family: $font-text;
                font-size: $font-m;
                text-align: center
               }
            }
        }
    }    
   
}

@media screen and (max-width: 480px) {

    .novedades {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: $spacing-s;
        
        &__titulo {
            display: flex;
            justify-content: center;
            padding: $spacing-s;
            font-family: $font-titulo;
            font-weight: 800;
            color: $color-titulo;
            width: 100%;
        }
    
        &__contenedor {
            display: flex;
            flex-wrap: wrap;
            border-radius: 1rem;
            justify-content: space-around;
            padding: $spacing-xxs;

        
            .novedades__producto {
                background-color: $color-secundario;
                padding: $spacing-xs;
                border-radius: 1rem;
                box-shadow: 2px 2px 2px rgb(179, 179, 179);
                align-content: center;
                margin: $spacing-xs;
                
            
               h3 {
                font-family: $font-titulo;
                font-size: $font-s;
                color: $color-titulo;
                padding: $spacing-xs 0 $spacing-xxs;
                font-weight: 800;
                text-align: center;
               }
    
               p {
                font-family: $font-text;
                font-size: $font-m;
                text-align: center
               }
            }
        }
    } 
}

@media screen and (max-width: 480px) {

    .novedades {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fadein 1s;

        &__titulo {
            display: flex;
            justify-content: center;
            width: 550px;
            padding: $spacing-s;
            font-size: 30px;
        }
    
        .novedades__contenedor {
            display: flex;
            flex-direction: column;
            justify-items: center;
            gap: 20px;
            width: min-content;
    
            &__producto {
                justify-items: center;
                padding: 30px;
                background-color: rgb(234, 234, 234);
                border-radius: 20px;
                box-shadow: 2px 2px 7px gray;
                text-align: center;
                font-size: $spacing-xs;
    
                h3 {
                    font-size: 40px;
                }
             
                p {
                    font-size: 40px;
                }
            }  
       }  
    }
}
/* LANZAMIENTOS */

.lanzamientos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $spacing-s;

    &__titulo {
        display: flex;
        justify-content: center;
        padding: $spacing-s;
        font-family: $font-titulo;
        font-weight: 800;
        color: $color-titulo;
        width: 100%;
        text-align: center;
    }
    
    &__juegos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        
        img {
            padding: $spacing-s;
            transition: transform .2s;
            padding: $spacing-s;
        }
        
        img:hover {
            transform: scale(1.05);
        } 
    }
}