 /* CONSOLAS */

.consolas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $spacing-s;
    
    &__titulo {
        display: flex;
        justify-content: center;
        padding: $spacing-s;
        font-family: $font-titulo;
        font-weight: 800;
        color: $color-titulo;
        width: 100%;
        text-align: center;
    }

    &__contenedor {
        display: flex;
        flex-wrap: wrap;
        border-radius: 1rem;
        justify-content: space-around;
        padding: $spacing-xxs;
    
        .consola__producto {
            background-color: $color-secundario;
            padding: $spacing-xs;
            border-radius: 1rem;
            box-shadow: 2px 2px 2px rgb(179, 179, 179);
            align-content: center;
        
           h3 {
            font-family: $font-titulo;
            font-size: $font-s;
            color: $color-titulo;
            padding: $spacing-xs 0 $spacing-xxs;
            font-weight: 800;
            text-align: center;
           }

           p {
            font-family: $font-text;
            font-size: $font-m;
            text-align: center
           }
        }
    }
}   

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

@media screen and (max-width: 320px) {

    .consolas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    &__titulo {
        display: flex;
        justify-content: center;
        padding: $spacing-s;
        font-family: $font-titulo;
        font-weight: 800;
        color: $color-titulo;
        width: 100%;
        text-align: center;
    }

    &__contenedor {
        display: flex;
        flex-wrap: wrap;
        border-radius: 1rem;
        justify-content: space-around;
        padding-bottom: $spacing-xxs;
    
        .consola__producto {
            background-color: $color-secundario;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: 2px 2px 2px rgb(179, 179, 179);
            width: auto;
            margin: 2rem;
            align-content: center;
        
           h3 {
            font-family: $font-titulo;
            font-size: $font-s;
            color: $color-textos;
            padding-top: $spacing-xs;
            text-align: center;
           }

           p {
            font-family: $font-text;
            font-size: $font-m;
            text-align: center
           }
        }
    }
} 
   
}

@media screen and (max-width: 480px) {

    .consolas {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: $spacing-s;
        
        &__titulo {
            display: flex;
            justify-content: center;
            padding: $spacing-s;
            font-family: $font-titulo;
            font-weight: 800;
            color: $color-titulo;
            width: 100%;
            text-align: center;
        }
    
        &__contenedor {
            display: flex;
            flex-wrap: wrap;
            border-radius: 1rem;
            justify-content: space-around;
            padding: $spacing-xxs;

        
            .consola__producto {
                background-color: $color-secundario;
                padding: $spacing-xs;
                border-radius: 1rem;
                box-shadow: 2px 2px 2px rgb(179, 179, 179);
                align-content: center;
                margin: $spacing-xs;
                
            
               h3 {
                font-family: $font-titulo;
                font-size: $font-s;
                color: $color-titulo;
                padding: $spacing-xs 0 $spacing-xxs;
                font-weight: 800;
                text-align: center;
               }
    
               p {
                font-family: $font-text;
                font-size: $font-m;
                text-align: center
               }
            }
        }
    }    
}


 /* NOVEDADES */

 .novedades {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $spacing-s;
    
    &__titulo {
        display: flex;
        justify-content: center;
        padding: $spacing-s;
        font-family: $font-titulo;
        font-weight: 800;
        color: $color-titulo;
        width: 100%;
        text-align: center;
    }

    &__contenedor {
        display: flex;
        flex-wrap: wrap;
        border-radius: 1rem;
        justify-content: space-around;
        padding: $spacing-xxs;
    
        .novedades__producto {
            background-color: $color-secundario;
            padding: $spacing-xs;
            border-radius: 1rem;
            box-shadow: 2px 2px 2px rgb(179, 179, 179);
            align-content: center;
        
           h3 {
            font-family: $font-titulo;
            font-size: $font-s;
            color: $color-titulo;
            padding: $spacing-xs 0 $spacing-xxs;
            font-weight: 800;
            text-align: center;
           }

           p {
            font-family: $font-text;
            font-size: $font-m;
            text-align: center
           }
        }
    }
}  

@keyframes fadein {
    0% {
    opacity:0;
    }
    50%{
    opacity:0.5;
    }
    100% {
    opacity:1;
    }
}

@media screen and (max-width: 320px) {

    .novedades {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: $spacing-s;
        
        &__titulo {
            display: flex;
            justify-content: center;
            padding: $spacing-s;
            font-family: $font-titulo;
            font-weight: 800;
            color: $color-titulo;
            width: 100%;
            text-align: center;
        }
    
        &__contenedor {
            display: flex;
            flex-wrap: wrap;
            border-radius: 1rem;
            justify-content: space-around;
            padding: $spacing-xxs;

        
            .novedades__producto {
                background-color: $color-secundario;
                padding: $spacing-xs;
                border-radius: 1rem;
                box-shadow: 2px 2px 2px rgb(179, 179, 179);
                align-content: center;
                margin: $spacing-xs;
                
            
               h3 {
                font-family: $font-titulo;
                font-size: $font-s;
                color: $color-titulo;
                padding: $spacing-xs 0 $spacing-xxs;
                font-weight: 800;
                text-align: center;
               }
    
               p {
                font-family: $font-text;
                font-size: $font-m;
                text-align: center
               }
            }
        }
    }    
   
}

@media screen and (max-width: 480px) {

    .novedades {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: $spacing-s;
        
        &__titulo {
            display: flex;
            justify-content: center;
            padding: $spacing-s;
            font-family: $font-titulo;
            font-weight: 800;
            color: $color-titulo;
            width: 100%;
            text-align: center;
        }
    
        &__contenedor {
            display: flex;
            flex-wrap: wrap;
            border-radius: 1rem;
            justify-content: space-around;
            padding: $spacing-xxs;

        
            .novedades__producto {
                background-color: $color-secundario;
                padding: $spacing-xs;
                border-radius: 1rem;
                box-shadow: 2px 2px 2px rgb(179, 179, 179);
                align-content: center;
                margin: $spacing-xs;
                
            
               h3 {
                font-family: $font-titulo;
                font-size: $font-s;
                color: $color-titulo;
                padding: $spacing-xs 0 $spacing-xxs;
                font-weight: 800;
                text-align: center;
               }
    
               p {
                font-family: $font-text;
                font-size: $font-m;
                text-align: center
               }
            }
        }
    } 
}

.lanzamientos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $spacing-s;
    width: 100%;

    &__titulo {
        display: flex;
        justify-content: center;
        padding: $spacing-s;
        font-family: $font-titulo;
        font-weight: 800;
        color: $color-titulo;
        width: 100%;
        text-align: center;
    }
    
    &__juegos {
        display: flex;
        flex-wrap: wrap;
        
        img {
            padding: $spacing-xxs;
            transition: transform .2s;
            padding: $spacing-s;
        }
        
        img:hover {
            transform: scale(1.05);
        } 
    }
}